{{> header}}
{{> navbar}}

  <main class="container contenedor-admin">

<header class="admin-header column-flex">  
      <div class="titulo-bitacora">
      <h2 class=" centrar-texto">Bitacora de consultas.</h2>
      <p>Selecciona la fecha deseada e ingresa el número de usuario para buscar y 
        visualizar las consultas realizadas por ese usuario en esa fecha específica en la bitácora.
      </p>
    </div>  
    <form class="form-bitacora centrar-flex">
        <div class="fecha-inicial">
         <input type="date" class="form-control" name="consultDate" id="fecha-ini" aria-describedby="helpId">
       </div>
      <div class="usuario-id">
        <input placeholder="Ingrsa el numero de usuario" name="NumEmpleado" type="search" class="input buscar-usuario">
      </div>
    </form>
</header>

<section class="container">
<div class="container-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Indice</th>
                <th scope="col">Nombre del usuario</th>
                <th scope="col">NIP</th>
                <th scope="col">Numero de referencia</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
</section>

</main>


{{> footer}}