
.div-ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


@media (min-width: 768px){ 
    .div-ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .div-ul ul{
        margin-right: 20px;
    }
}

/* styles-alert */

.popup-alert{
    height: auto !important;
    width: 50% !important;
    padding: 1;
}

.title-alert{
    font-size: 2rem !important;
    font-family: var(--fuenteSecundaria);
}

.info-content-alert{
font-size: 2rem !important;
font-family: var(--fuenteSecundaria);
}
