:root {
  --color-red: #e02835;
}

img {
  max-width: 100%;
  height: auto;
}

.nombre-logo {
    background-color: #fff;
    max-height: 10rem;
    max-width: 10rem;
    z-index: 2;
    position:absolute;
    right: 45%;
    top: 2.3rem; 
}

.div-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .div-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .div-ul ul {
    margin-right: 20px;
  }
}

/* styles-alert */

.popup-alert {
  height: auto !important;
  width: 50% !important;
  padding: 1;
}

.title-alert {
  font-size: 2rem !important;
}

.info-content-alert {
  font-size: 2rem !important;
}

.button-reenviar{
  padding: 10px 0;
  text-align: center;
  max-height: 40px;
  max-width: 90px;
  height: 100%;
  width: 100%;

}
.button-salir{
  padding: 10px 0;
  text-align: center;
  max-height: 40px;
  max-width: 90px;
  height: 100%;
  width: 100%;
}
.swal2-actions{
  flex-direction: row !important;
  max-width: 500px !important;
  width: 100% !important;
}